<div class="wrapper">
    <nav class="navbar">
        <a class="navbar-brand" href="/">

                Pysch & Strength
        </a>
        {% include "menu.twig" with {'menu': menu.get_items} %}
        <a class="navbar-text blackColour" href="{{site.index}}">Get In Touch +</a>
    </nav>
</div>