<div class="wrapper">
    <nav class="navbar">
        <a class="navbar-brand" href="/">

                Pysch & Strength
        </a>
        {% include "menu.twig" with {'menu': menu.get_items} %}
    </nav>
</div>