{% if menu %}
<ul class="navbar-nav mx-auto text-center">
		{% for item in menu %}
		<li class="{{ item.classes | join(' ') }} nav-item">
			<a target="{{ item.target }}" class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
