{% extends "base.twig" %}

{% block content %}
			<div id="blog-page">
                    {% for post in posts %}
                       {% if loop.first %}
                             {% include '/page-hero-blog.twig' %}
                        {% endif %}
                    {% endfor %}

                <section style=" color: #1E1E1E; padding: 3rem 0rem">
					<div class="container d-flex  align-items-center category-section" style="justify-content: space-between; ">
                        <div class="search-wrapper">
                                <div class="search-wrapper">
                                    {{function('get_search_form')}}
                                </div>
                        </div>
                    </div>
                </section>
                <div id="all-posts" class="container cat-posts align-items-center container-blog">
                    {% for post in posts %}
                            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                </div>
            </div>

                                    <script>console.log('categories: ',{{ images|json_encode|raw }})</script>

{% endblock %}


