{% extends "base.twig" %}

{% block content %}
<section class="p-md-top p-md-bottom top-section" style="margin-top: 50px"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-xs-center d-none d-sm-block">
                   <img src="{{ TimberImage(post.get_field('header_image')).src|default(site.theme.link ~ '/imgs/header_new.png')  }}" class="img-fluid"  height="100%" alt="">
                </div>
                   
                    
               
            </div>
        </div>
    </section>
<section class="contact-from pt-4">
<div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <div class="divider bg-primary mx-auto"></div>
                        <p class="text-muted lead">
                           We are looking forward to hear something from you
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 mx-auto text-center">
                              {% filter shortcodes %}
[contact-form-7 id="4" title="Contact form"]  
                      {% endfilter %}
                    </div>
                </div>
            </div>
  </div>

{% endblock %}

