{% extends "base.twig" %}

{% block content %}

<section class="p-md-top p-md-bottom top-section" style="margin-top: 50px"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-xs-center d-none d-sm-block">
                   <img src="{{ TimberImage(post.get_field('header_image')).src|default(site.theme.link ~ '/imgs/working-out.jpg')  }}" class="img-fluid" height="100px" alt="">
                </div>
                       <div class="col-md-12 text-xs-center d-none d-sm-block">

                       <h1 class="text-center" style="margin: 40px 40px;">Your commitment</h1>

                       <ul style="list-style:none; ">
                       <li class="commitment-speech">Call your coach – To start each session, you are responsible to call your coach at the agreed upon
                        start time</li>
                       <li class="commitment-speech">30 minute sessions – be prompt to avoid missing valuable time.</li>
                       <li class="commitment-speech">Come prepared – complete any action items you committed to between sessions.</li>
                       <li class="commitment-speech">Speak openly &amp; honestly – communications with your coach are fully.</li>
                       <li class="commitment-speech">24-hour cancellation policy – No shows, rescheduling or cancelling with less than 24-hour notice is
                            considered a completed session and will be counted towards your coaching plan.</li>
                       </ul>
                </div> 

            </div>
        </div>
    </section>
{% endblock %}

